<!DOCTYPE html>
<html lang="en" ng-app="ghca">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GitHub Contributions Archive</title>

    <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css" />
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.min.css" />
    <![endif]-->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/octicons/octicons.css" rel="stylesheet">
    <link href="/static/css/loader.css" rel="stylesheet">
    <link href="/static/css/site.css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="/static/js/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/angular-moment.min.js"></script>
    <script type="text/javascript" src="/static/js/angular-resource.min.js"></script>
    <script type="text/javascript" src="/static/js/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/static/js/truncate.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript" src="/static/js/routes.js"></script>
    <script type="text/javascript" src="/static/js/error-handler.js"></script>
    <script type="text/javascript" src="/static/js/bsod.controller.js"></script>
    <script type="text/javascript" src="/static/js/stats.controller.js"></script>
    <script type="text/javascript" src="/static/js/user.controller.js"></script>
    <script type="text/javascript" src="/static/js/services.js"></script>
    <script type="text/javascript" src="/static/js/event-octicon.js"></script>
    <script type="text/javascript" src="/static/js/ui-bootstrap-tpls-0.14.3.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document" ng-controller="UserController">
    <!-- "Fork me" ribbon -->
    <div class="github-fork-ribbon-wrapper right">
      <div class="github-fork-ribbon">
        <a href="https://github.com/tenex/github-contributions">
          Fork me on GitHub
        </a>
      </div>
    </div>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#navbar"
                  aria-expanded="false"
                  aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">GitHub Contributions Archive</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li>
              <a href="http://tenex.tech">By Tenex</a>
            </li>
            <li>
              <a href="mailto:liam@tenex.tech">Contact</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                 data-toggle="dropdown"
                 role="button"
                 aria-haspopup="true"
                 aria-expanded="false">
                Raw Data <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/archive/events/">Events (2015-Now)</a>
                </li>
                <li>
                  <a href="/archive/timeline">Timeline (2011-2014)</a>
                </li>
              </ul>
            </li>
          </ul>
          <form name="userForm" class="navbar-form navbar-right" ng-submit="setUser()">
            <div class="form-group">
              <label for="query" class="sr-only">GitHub Username</label>
              <input type="text" ng-model="username"
                     class="form-control" id="query" placeholder="GitHub User">
            </div>
            <button id="submit-button" type="submit" class="btn btn-primary">Search</button>
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" role="main" ng-hide="processing"  ng-cloak>
      <div class="well" ng-hide="processed || username">
        <h3>Search for a user above to begin</h3>
      </div>

      <div class="alert alert-danger" role="alert"
           ng-show="processed && !hasResults">
        <span class="glyphicon glyphicon-exclamation-sign pull-right" aria-hidden="true"></span>
        <strong>No results for {{ processedUsername }}.</strong>
      </div>

      <div class="well" ng-show="hasResults">
        <h4>
          <span class="mega-octicon octicon-person"></span>&nbsp;&nbsp;
          <a href="{{userUrl}}">
            <strong>{{processedUsername}}</strong>
          </a>
          made
          <strong>{{eventCount}}</strong> contributions
          to
          <strong>{{repos.length}}</strong> repositories
        </h4>
      </div>

      <div id="results" ng-show="hasResults" class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li role="presentation" ng-class="{active: isCurrentTab(tabs.repoList)}">
              <a ng-click="setCurrentTab(tabs.repoList)" href>Repositories</a>
            </li>
            <li role="presentation" ng-class="{active: isCurrentTab(tabs.eventList)}">
              <a ng-click="setCurrentTab(tabs.eventList)" href>Events</a>
            </li>
          </ul>

          <div style="margin-top:.5em">
            <!-- Repositories -->
            <ul class="list-group" ng-show="isCurrentTab(tabs.repoList)">
              <li class="list-group-item" ng-repeat="repo in repos">
                <a href="https://github.com/{{repo}}">{{ repo }}</a>
              </li>
            </ul>

            <!-- Events result table -->
            <div ng-show="isCurrentTab(tabs.eventList)">

              <uib-pagination ng-model="currentEventPage"
                          total-items="eventCount"
                          ng-change="eventPageChanged()"
                          max-size="10" items-per-page="eventPageSize"
                          boundary-links="true"
                          previous-text="&lsaquo;" next-text="&rsaquo;"
                          first-text="&laquo;" last-text="&raquo;">
              </uib-pagination>

              <div style="text-align:center" ng-show="loadingEvents">
                <img src="/static/img/gps.svg" />
              </div>

              <table ng-hide="loadingEvents" class="table table-striped">
                <thead>
                  <th>
                    <!-- event type -->
                  </th>
                  <th>
                    <span class="octicon octicon-calendar"></span>
                  </th>
                  <th>
                    <span class="octicon octicon-repo"></span>
                  </th>
                  <th>
                    <span class="octicon octicon-person"></span>
                  </th>
                  <th>
                    <!-- description -->
                  </th>
                </thead>
                <tbody>

                  <tr ng-repeat="event in events">
                    <td>
                      <span event-octicon ng-model="event.type"></span>
                    </td>
                    <td title="">
                      <time am-time-ago="event.created_at"></time>
                    </td>
                    <td style="white-space:nowrap">
                      <a href="https://github.com/{{event.repo}}">
                        {{ event.repo }}
                      </a>
                    </td>
                    <td>
                      <a href="{{userUrl}}">{{processedUsername}}</a>
                    </td>
                    <td ng-switch on="event.type">

                      <span ng-switch-when="GollumEvent">
                        <span ng-if="event.pages.length > 1">
                          edited multiple Wiki pages:
                          <ul>
                            <li ng-repeat="page in event.pages">
                              {{ page.action }} the page
                              <a href="{{page.html_url}}">{{page.title}}</a>
                              (<a href="{{page.html_url}}/_history">history</a>)
                            </li>
                          </ul>
                        </span>
                        <span ng-if="event.pages.length == 1">
                          {{ event.pages[0].action }} the page
                          <a href="{{event.pages[0].html_url}}">{{event.pages[0].title}}</a>
                          (<a href="{{event.pages[0].html_url}}/_history">
                            history
                          </a>)
                        </span>
                      </span>

                      <span ng-switch-when="IssuesEvent">
                        {{ event.action }}
                        <a href="https://github.com/{{event.repo}}/issues/{{event.issue_number}}">
                          issue {{ event.issue_number }}
                        </a>
                      </span>

                      <span ng-switch-when="PushEvent">
                        pushed
                        <ng-pluralize count="event.distinct_commit_count"
                                      when="{'1': 'a commit', 'other': '{} commits'}">
                        </ng-pluralize>
                        to
                        <a href="https://github.com/{{event.repo}}/commits/{{event.head}}">{{event.ref}} ({{ event.head | limitTo : 7 }})</a>
                      </span>

                      <span ng-switch-when="CommitCommentEvent">
                        <a href="{{event.html_url}}">commented</a>
                        on
                        <a href="https://github.com/{{event.repo}}/commits/{{event.commit_id}}">
                          commit {{ event.commit_id | limitTo : 7 }}
                        </a>
                        {{event.path}}:
                        <a href="{{event.html_url}}">
                          {{event.body | characters:20: false}}
                        </a>
                      </span>

                      <span ng-switch-when="ReleaseEvent">
                        released tag
                        <a href="https://github.com/{{event.repo}}/releases/tag/{{event.tag_name}}">
                          {{ event.tag_name }}
                        </a>
                      </span>

                      <span ng-switch-when="PublicEvent">
                        open-sourced <a href="https://github.com/{{event.repo}}">{{event.repo}}</a>!
                      </span>

                      <span ng-switch-when="MemberEvent">
                        {{ event.target_action }}
                        <a href="https://github.com/{{event.target_user}}">
                          {{event.target_user}}
                        </a> to
                        <a href="https://github.com/{{event.repo}}">
                          {{event.repo}}
                        </a>
                      </span>

                      <span ng-switch-when="IssueCommentEvent">
                        <a href="{{event.comment_url}}">commented</a>
                        on
                        <a href="{{event.issue_url}}">issue {{event.issue_number}}</a>
                      </span>

                      <span ng-switch-default>
                       {{ event.type }} WTF?
                      </span>
                    </td>
                  </tr>

                </tbody>
              </table>

              <uib-pagination ng-model="currentEventPage"
                          total-items="eventCount"
                          ng-change="eventPageChanged()"
                          max-size="10" items-per-page="eventPageSize"
                          boundary-links="true"
                          previous-text="&lsaquo;" next-text="&rsaquo;"
                          first-text="&laquo;" last-text="&raquo;">
              </uib-pagination>
            </div>

          </div>

        </div>
      </div> <!-- /results -->

    </div> <!-- /container -->

    <div id="loader" ng-show="processing"  class="tetrominos"  ng-cloak>
      <div class="tetromino box1"></div>
      <div class="tetromino box2"></div>
      <div class="tetromino box3"></div>
      <div class="tetromino box4"></div>
    </div>

    <nav class="navbar navbar-inverse navbar-fixed-bottom"
         ng-controller="StatisticsController"  ng-cloak>
      <div class="container" ng-show="retrieved">
        <p class="navbar-text">
          Tracking {{ stats.eventCount | number }} events
        </p>
        <p class="navbar-text navbar-right">
            Latest GitHub event indexed was on
            {{ stats.latestEvent | date : 'longDate' }} at
            {{ stats.latestEvent | date : 'mediumTime' }}
        </p>
      </div>
    </nav>

    <script type="text/javascript" src="http://l2.io/ip.js?var=clientAddr">
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-63118721-1', 'auto');
     ga('send', 'pageview', {
         'dimension1': clientAddr
     });
    </script>

    <script type="text/ng-template" id="bsod.html">
      <div class="bsod">
        <div style="text-align: center">
          <span class="bsod-title">Windows</span>
        </div>
        <p>An error has occured. To continue:</p>
        <p>Press Enter to return to Windows, or</p>
        <p>Press CTRL_ALT_DEL to restart your computer. If you do this, you will lose any unsaved information in all open applications.</p>
        <p>Error: {{ $root.errorDescription }}</p>
        <div>Press any key to continue</div>
        <div class="text-right">
          <button class="btn-primary" type="button" ng-click="ok()">
            Any Key
          </button>
        </div>
      </div>
    </script>
  </body>
</html>
